$WHITE: #FFFFFF;

$BLACK_00: #000000;
$BLACK_11: #111111;
$BLACK_1D: #1D1D1D;
$BLACK_33: #333333;
$BLACK_24: #242424;

$BLUE_00: #0049FF;
$BLUE_3F6: #3F6AC8;

$GRAY_CC: #CCCCCC;
$GRAY_88: #888888;
$GRAY_1D: #1D1D1D26;

$RED: #ff0000;
$RED_DF: #DF0000;
