@font-face {
  font-family: 'Noto Sans JP';
  src: url('@/assets/fonts/Noto_Sans_JP.otf');
}

@font-face {
  font-family: 'Noto Sans JP Medium';
  src: url('@/assets/fonts/Noto_Sans_JP_Medium.otf');
}

@font-face {
  font-family: 'Noto Sans JP Bold';
  src: url('@/assets/fonts/Noto_Sans_JP_Bold.otf');
}
